body, html {
    font-family: sans-serif;
    background-image: url('https://images.unsplash.com/photo-1567459169668-95d355371bda');
}

.credits {
    position: absolute;
    bottom: 25px;
    left: 25px;
}
.myFarm {
    max-width: 75px;
}

a {
    color: black;
}

.level2 {
    max-width: 100px;
}

.error {
  color: red;
  font-weight: bold;
}
