body {
				font-family: sans-serrif;
				background-image: url("https://bttm.b-cdn.net/custom/kayeet.net/15-12-2020-18:14:08-p.m..jpg");
				background-repeat: no-repeat;
				height: 100%;
				background-size: cover;
}

.farm {
				max-width: 13%;
}
.human {
				max-width: 6%;
}
