body {
	font-family: sans-serrif;
	background-image: url("https://bttm.b-cdn.net/custom/kayeet.net/15-12-2020-18:14:08-p.m..jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: auto;
	background-size: cover;
}

.farm {
	max-width: 13%;
}
.human {
	max-width: 6%;
}

@media screen and (max-width: 600px) {
    iframe {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }